

<div class="eventformwrapper">
	
	<div class="fixtureeventlistingtitle">
		FIXTURE GOAL LISTING
	</div>

	<div class="fixtureeventligueandseason">
		<%=@fixture.competseason.competition.name%> <%=@fixture.competseason.season.year%> | Round <%=@fixture.round%>
	</div>


	<div class="eventformfixtureheader">
		<div class="eventformscorecard">
			<div class="scorecardhome">
				<%=@fixture.hometeam.shortname%>
			</div>
			<div class="scorecardscore">
				<%=@fixture.scorehome%> - <%=@fixture.scoreaway%>
			</div>
			<div class="scorecardaway">
				<%=@fixture.awayteam.shortname%>
			</div>
		</div>
	</div>

	<div class="goallistingcontainer">

		<%@fixturegoalevents.each do |goal|%>

			<div class="goalcardvip">

				<div class="goaldetails">
					<div class="goaltype"><%=goal.take.eventtype.description%></div>
					<div class="goalminute"><%=goal.take.time%>'</div>
				</div>
				<div class="goalscorer">
					<div class="jersey player-number"><%=goal.take.selection.contract.jerseynumber%></div>
					<div class="name"><%=goal.take.selection.contract.player.firstname%> <b><%=goal.take.selection.contract.player.name%></b></div>
					<div class="note"><%=goal.take.selection.note%></div>
				</div>
				<div class="goalstatus small-grey-btn">
					<%= link_to edit_event_path(goal.ids), target: :_blank do %>
		                Registered <%= goal.take.registration ? "🟢" : "🔴" %>
		            <%end%>	
					
				</div>

			</div>

		<%end%>

	</div>

</div>

2 things remaining!
<br>• jersey colors (background & font)
<br>• note background color