

<div class="eventformwrapper">
	
	<div class="fixtureeventlistingtitle">
		GOAL LISTING
	</div>

	<div class="fixtureeventligueandseason">
		<%=@fixture.competseason.competition.name%> <%=@fixture.competseason.season.year%> | Round <%=@fixture.round%>
	</div>


	<div class="eventformfixtureheader">
		<div class="eventformscorecard">
			<div class="scorecardhome">
				<%=@fixture.hometeam.shortname%>
			</div>
			<div class="scorecardscore">
				<%=@fixture.scorehome%> - <%=@fixture.scoreaway%>
			</div>
			<div class="scorecardaway">
				<%=@fixture.awayteam.shortname%>
			</div>
		</div>
	</div>




</div>

<%@fixturegoalevents.each do |goal|%>

	<%=goal.take.eventtype.description%> - 
	<%=goal.take.selection.contract.jerseynumber%> - 
	<%=goal.take.selection.contract.player.name%>
	[<%=goal.take.selection.contract.team.name%>]
	(<%=goal.take.selection.note%>)
	➡️
	lien vers <%= link_to "Lien", edit_event_path(goal.ids)%>

	<br>

<%end%>