
<p>
    <%= link_to "Back to fixtures list" , fixtures_path %> 
</p>

<center>
    <h3>
        <%= @fixture.hometeam.shortname %> 

        <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>
            <b> <%= @fixture.scorehome%> - <%= @fixture.scoreaway%> </b>
        <%else%>
            vs.
        <%end%>

        <%= @fixture.awayteam.shortname %> 
    </h3>

    <!-- CHANGER LE CODE SUIVANT EN Y INTEGRANT LE STATUS DE LA RENCONTRE -->

    <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>

        <%if @fixture.scorehome+@fixture.scoreaway != 0 %>
            <i>Goals to be listed</i>
        <%else%>
            Sorry some actions but no goal during this game!
            <p style="font-size:70px; margin:0">&#x1F972;</p>
        <%end%>
    
    <%else%>
        Game not played yet
    <%end%>

    <br><br>

    <table>
        <tr style="background-color:#f3f3f3;text-align:center">
            <td style="width:150px;"><%= @fixture.homeformation %></td>
            <td style="width:150px;"><%= @fixture.awayformation %></td>
        </tr>
        <tr style="vertical-align: top;">
            <td>
                <table>

                    <% @homeselection.each do |key, homeplayer| %>
                        <tr style="background-color:#f3f3f3;text-align:center">
                            <td style="width:150px;">
                                <%= homeplayer.contract.player.firstname %>
                                &nbsp;&nbsp;&nbsp;&nbsp;<small><%= homeplayer.note %></small>
                                <% if !homeplayer.substitute.nil? %>
                                    <br>
                                    <small>&#x1F504; (<%= homeplayer.substitutiontime %>)</small>
                                    <%= homeplayer.substitute.player.firstname %>          
                                <% end %>
                             </td>
                        </tr> 
                    <% end %>
            
                </table>
            </td>
            <td>
                <table>
        
                    <% @awayselection.each do |key, awayplayer| %>
                        <tr style="background-color:#f3f3f3;text-align:center">
                            <td style="width:150px;">
                                <%= awayplayer.contract.player.firstname %>
                                &nbsp;&nbsp;&nbsp;&nbsp;<small><%= awayplayer.note %></small>
                                <% if !awayplayer.substitute.nil? %>
                                    <br>
                                    <small>&#x1F504; (<%= awayplayer.substitutiontime %>)</small>
                                    <%= awayplayer.substitute.player.firstname %>          
                                <% end %>
                            </td>
                        </tr> 
                    <% end %>
            
                </table>
            </td>   
        </tr>
    </table>

    





  

</center>