
<p>
    <%= link_to "Back to fixtures list" , fixtures_path %> 
</p>

<center>
    <h3>
        <%= @fixture.hometeam.shortname %> 

        <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>
            <b> <%= @fixture.scorehome%> - <%= @fixture.scoreaway%> </b>
        <%else%>
            vs.
        <%end%>

        <%= @fixture.awayteam.shortname %> 
    </h3>

    <!-- CHANGER LE CODE SUIVANT EN Y INTEGRANT LE STATUS DE LA RENCONTRE -->

    <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>

        <%if @fixture.scorehome+@fixture.scoreaway != 0 %>
            <i>Goals to be listed</i>
        <%else%>
            Sorry some actions but no goal during this game!
            <p style="font-size:70px; margin:0">&#x1F972;</p>
        <%end%>
    
    <%else%>
        Game not played yet
<%end%>


</center>