
<p>
    <%= link_to "Back to fixtures list" , fixtures_path %> 
</p>

<center>
    <h3>
        <%= @fixture.hometeam.shortname %> 

        <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>
            <b> <%= @fixture.scorehome%> - <%= @fixture.scoreaway%> </b>
        <%else%>
            vs.
        <%end%>

        <%= @fixture.awayteam.shortname %> 
    </h3>

    <!-- CHANGER LE CODE SUIVANT EN Y INTEGRANT LE STATUS DE LA RENCONTRE -->

    <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>

        <%if @fixture.scorehome+@fixture.scoreaway != 0 %>
            <i>Goals to be listed</i>
        <%else%>
            Sorry some actions but no goal during this game!
            <p style="font-size:70px; margin:0">&#x1F972;</p>
        <%end%>
    
    <%else%>
        Game not played yet
    <%end%>

    <br><br>

    <table>
        <tr style="background-color:#f3f3f3;text-align:center">
            <td style="width:170px;"><b><%= @fixture.homeformation %></b></td>
            <td style="width:170px;"><b><%= @fixture.awayformation %></b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td>
                <table>

                    <% @homeselection.each do |key, player| %>
                        <tr style="background-color:#f3f3f3;text-align:center">
                            <td style="width:160px;;text-align:left;padding-left:10px">
                                <small><%= player.contract.jerseynumber %> |</small>
                                <%= player.contract.player.name %>
                                -
                                <small><%= player.note %></small>
                                <% if !player.substitute.nil? %>
                                    <br>
                                    <small>&#x1F504; [<%= player.substitutiontime %>']</small>
                                    <%= player.substitute.player.name %>          
                                <% end %>
                            </td>
                        </tr> 
                    <% end %>
            
                </table>
            </td>
            <td>
                <table>
        
                    <% @awayselection.each do |key, player| %>
                        <tr style="background-color:#f3f3f3;text-align:center">
                            <td style="width:160px;;text-align:left;padding-left:10px">
                                <small><%= player.contract.jerseynumber %> |</small>
                                <%= player.contract.player.name %>
                                -
                                <small><%= player.note %></small>
                                <% if !player.substitute.nil? %>
                                    <br>
                                    <small>&#x1F504; [<%= player.substitutiontime %>']</small>
                                    <%= player.substitute.player.name %>          
                                <% end %>
                            </td>
                        </tr> 
                    <% end %>
            
                </table>
            </td>   
        </tr>
    </table>


</center>