<div class="fixture-scoreboard-container">

    <div class="header-logo-container">
        <%= svg 'momentum-logo' %>  
    </div>

    <p>
        <%= @fixture.competseason.competition.name %>
        <%= @fixture.competseason.season.year %> | 
        Round <%= @fixture.round %>
    </p>

    <div class="card-fixture-scorebox centered bottom-offset">
        <p class="hometeam">
            <%= @fixture.hometeam.display_name %>
        </p>
        <p class="fixturescore">
            <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %>
            <b> <%= @fixture.scorehome%> - <%= @fixture.scoreaway%> </b>
            <%else%>
                vs.
            <%end%>
        </p>
        <p class="awayteam">
            <%= @fixture.awayteam.display_name %>
        </p>
    </div>
    
</div>

<div class="fixture-main-container">

    <div class="fixture-left-panel-container">

        <!-- To be replaced by the future submission status of the game!!!!!! -->
        <%if !@fixture.scorehome.nil? && !@fixture.scoreaway.nil? %> 

            <%if @fixture.scorehome+@fixture.scoreaway != 0 %>

                <div class="fixture-sidepanel-content">
                
                <% @fixture_goals.each do |goal| %>

                    <div class="card-goal-listing">

                        <div class="card-goal-listing-scorer">
                            <p><%= goal.selection.contract.player.firstname %> <l class="surname"><%= goal.selection.contract.player.name %></l></p>
                            
                            <div class="card-goal-listing-details">
                                <% case goal.eventtype.description %>
                                <% when "Goal" %>
                                    for <%= goal.selection.contract.team.shortname %> (<%= goal.time %>')
                                <% when "Auto goal" %>
                                    <p class="card-goal-label">autogoal</p> against <%= goal.selection.contract.team.shortname %> (<%= goal.time %>')
                                <% when "Penalty" %>
                                    <div class="card-goal-label">penalty</div>  for <%= goal.selection.contract.team.shortname %> (<%= goal.time %>')
                                <% end %>
                            </div>
                        </div>
                        <div class="card-goal-listing-scorebox">0-1</div>

                    </div>

                <% end %>

<!-- ⚠️ AS PART OF THE TEMPLATE -- TO BE REMOVED -->
<div class="card-goal-listing card-goal-listing-activated">
<div class="card-goal-listing-scorer">
<p>Kylian <l class="surname">M'Bappé</l></p>
</div>
<div class="card-goal-listing-scorebox card-goal-listing-scorebox-activated">1-2</div>
</div>
<!-- ⚠️ ##### -->
                
                </div>

            <%else%>
                <br><br><br><br><br> No goal scored in this game
                <p style="font-size:40px; margin:0">&#x1F972;</p>
            <%end%>
        
        <%else%>
            Game not played yet
        <%end%>

    </div>

    <div class="fixture-central-panel">

        <ol>
            <li style="text-decoration-line: line-through;">Mettre une couleur neutre au badge sur terrain</li>
            <li style="text-decoration-line: line-through;">Ajouter le badge des replaçants des joueurs sur le terrain</li>
            <li style="text-decoration-line: line-through;">Gérer la position "away" de toutes les formations sur le terrain</li>
            <li style="text-decoration-line: line-through;">Ajouter la couleur des équipes en base + l'appeller pour les badges</li>
            <li>Ajouter les remplaçants (au click sur le btn lineups ou au over)</li>
            <li>Intercaler un saut à la ligne sur VIP home pour les trois derniers blocs</li>
            <li>Indiquer l'ajout des couleurs sur fixtures index</li>
            <li style="text-decoration-line: line-through;">Supprimer l'ancienne liste des joueurs sous le terrain</li>
            <li>Faire le formulaire de saisi des goals 🙀</li>
            <li>Gérer le positionnement du full pitch</li>
        </ol>

        <!-- -------------------------- -->
        <!-- -------------------------- -->
        <!-- -------------------------- -->

        <div class="pitch-full-container">

            <div class="full-pitch-grid">

                <div class="formationonpitch homeformation">
                    <%= @fixture.homeformation %>
                </div>

                <div class="formationonpitch awayformation">
                    <%= @fixture.awayformation %>
                </div>

                <% @allstartingplayers.each do |p| %>
                    <div class="player-container" style="top:<%= p[1][:pitchcoord][0] %>px;left:<%= p[1][:pitchcoord][1] %>px;">
                        <div class="player-jersey-line">
                            <div class="player-number" style="background-color:<%=p[1][:numberbgprimarycolor]%>;color:<%=p[1][:numberbgsecondarycolor]%>"><%= p[1][:number] %></div>
                            <% if !p[1][:subtime].nil? %>
                                <div class="player-game-sub">
                                    <p>🔁</p>
                                    <%= p[1][:subtime] %>'
                                </div>
                                <div class="player-number player-in">
                                    <%= p[1][:playerin] %>
                                </div>
                            <% end %>
                        </div>
                        
                        <div class="player-name"><%= p[1][:name] %></div>
                        <div class="player-details">
                            <% if p[1][:goals] > 0 %>
                                <div class="player-game-goals">⚽️ <%= p[1][:goals] %></div>
                            <% end %>
                            <div class="player-game-note" style="background-color:<%= p[1][:notecolor] %>"><%= p[1][:note] %></div>
                            
                        </div>
                    </div>
                <% end %>

            </div>
            
            <%= svg 'full-pitch' %>

            <%= link_to "Lineups", root_path, {class: "btn-secondary" }%>

        </div>

        <!-- -------------------------- -->
        <!-- -------------------------- -->
        <!-- -------------------------- -->

        <div class="card-goal-details">

            <div class="card-goal-header">
                <div class="card-goal-header-scorer">
                    <p class="card-goal-scorer">Player #1</p>
                    <p>for Paris Saint-Germain</p>
                </div>
            </div>

            <div class="card-goal-detail-pitch">

                <div class="half-pitch-grid">
                    
                    <div class="player-pointer" style="background-color:blue;color:white;top:40%;left:47%;">32</div>

                </div>

                <%= svg 'half-pitch-green' %> 
            </div>

        </div>

        <div class="card-goal-details">

            <div class="card-goal-header">
                <div class="card-goal-header-scorer">
                    <p class="card-goal-scorer">Player #2</p>
                    <p>for Real Madrid</p>
                </div>
            </div>

            <div class="card-goal-detail-pitch">

                <div class="half-pitch-grid">
                    
                    <div class="player-pointer" style="background-color:blue;color:white;top:80%;left:20%;">7</div>

                </div>

                <%= svg 'half-pitch-green' %> 
            </div>

        </div>

        <div class="card-goal-details">

            <div class="card-goal-header">
                <div class="card-goal-header-scorer">
                    <p class="card-goal-scorer">Player #3</p>
                    <p>for Real Madrid</p>
                </div>
            </div>

            <div class="card-goal-detail-pitch">

                <div class="half-pitch-grid">
                    
                    <div class="player-pointer" style="background-color:blue;color:white;top:34%;left:74%;">10</div>

                </div>

                <%= svg 'half-pitch-green' %> 
            </div>

        </div>
        
        <div class="footer-logo-container">
            <%= svg 'momentum-footer-logo'%>
        </div>

        <!-- above this line to be deleted -->
    </div>

    <div class="fixture-right-panel-container">
        <div class="fixture-sidepanel-content">

            <div class="card-event-details">

                <div class="card-event-row">
                    <p class="card-event-detail-type">Time</p>
                    <p class="card-event-detail-value">29'</p>
                </div>

                <div class="card-event-row">
                    <p class="card-event-detail-type">Distance</p>
                    <p class="card-event-detail-value">10 meters</p>
                </div>

                <div class="card-event-row">
                    <p class="card-event-detail-type">Assitance</p>
                    <div class="card-event-detail-value">
                        <p>@Neymar Jr.</p>
                        <p>@Di Maria</p>
                    </div>
                </div>

                <div class="card-event-row last-row">
                    <div class="card-event-label">Counter attack</div>
                    <div class="card-event-label">Right foot</div>
                </div>

                <div class="card-event-cage">
                    <%= svg 'fixture-cage' %>   
                </div>
            </div>


        </div>
    </div>

</div>

<!-- <%= @allstartingplayers %> -->
