<center>

	<h2><%= @last_ligue1_games.count > 1 ? 'Game'.pluralize : 'Game' %> in the last 5 days</h2>

	

	<% if @last_ligue1_games.present? %>

		<small>Ligue 1</small> <br>

		<% @last_ligue1_games.each do |lg| %>
			<small><%= lg.date %></small> | 

			<%= link_to fixture_path(lg.id), target: :_blank do %>

				<%= lg.hometeam.display_name %>
				<%= lg.scorehome %> - <%= lg.scoreaway %>
				<%= lg.awayteam.display_name %>
			
			<%end%> <br>
		<% end %>

	<% else %>
		No fixture &#x1F343&#x1F343
	<% end %>

</center>