<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">

		<div class="admin-right-frame-content">



<h2>All events in DB</h2>

<%unregistered=registered=0%>

<% @events.each do |event| %>

    <% unless event.registration %>
        <%unregistered+=1%>
    <%else%>
        <%registered+=1%>
    <%end%>

<%end%>

<center>

    <b>Unregistered:</b>  
    <%= link_to unregistered_events_path do %>
      <%= pluralize(unregistered, 'event') %>
    <% end %> 
    &#x1F534

    <br>

    <b>Registered:</b>  
    <%= link_to registered_events_path do %>
      <%= pluralize(registered, 'event') %>
    <% end %> 
    &#x1F7E2

</center>


		</div>
	</div>

</div>