<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">
		
		<%= render 'shared/viprightframeheader'%>

		<div class="admin-right-frame-content">

            <h2>All fixtures in DB</h2>

            <table>
                <tr style="">
                    <td></td>
                    <td></td>
                    <td style="width:40px;text-align:center;"><b>ID</b></td>
                    <td style="width:140px;"><b>League</b></td>
                    <td style="width:100px;text-align: center;"><b>Date</b></td>
                    <td style="width:130px;text-align: right;"><b>Home team</b></td>
                    <td style="width:60px; text-align: center;"><b>Score</b></td>
                    <td style="width:160px;"><b>Away team</b></td>
                    <td style="width:40px; text-align: center;"><b>Kits?</b></td>
                    <td style="width:40px; text-align: center;"><b>Subm?</b></td>
                </tr>

            <% @fixtures.each do |fixture| %>

                <tr>
                    <td>
                        [<%= link_to "destroy", fixture_path(fixture.id), method: :delete, data: { confirm: 'Are you sure you want to delete this fixture?' }%>]
                    </td>
                    <td>
                        [<%= link_to "edit", edit_fixture_path(fixture.id) %>]        
                    </td>
                    <td style="text-align: center;">
                        (<%= fixture.id %>)
                    </td>
                    <td>
                        <%= fixture.competseason.competition.name %> Round <%= fixture.round %>
                    </td>
                    <td style="text-align:center;">
                        <%= fixture.date %>
                    </td>
                    <td style="text-align:right;">
                        <%= fixture.hometeam.display_name %>
                    </td>
                    <td style="text-align:center;">
                        <%= link_to fixture_path(fixture.id), target: :_blank do %>
                            <%if !fixture.scorehome.nil? && !fixture.scoreaway.nil? %>
                                <b><%= fixture.scorehome%> - <%= fixture.scoreaway%> </b>
                            <%else%>
                            vs.
                            <%end%>
                        <%end%>
                    </td>
                    <td>
                        <%= fixture.awayteam.display_name %>
                    </td>
                    <td style="text-align:center;">
                        <%= fixture.homekit.nil? & fixture.awaykit.nil? ? "🔴" : "🟢" %>
                    </td>
                    <td style="text-align:center;">
                        <%= fixture.submitted ? "🟢" : "🔴" %>
                    </td>
                </tr>

            <%end%>
            </table>
		</div>
	</div>
</div>