<h2>All contracts in DB</h2>

<% @contracts.each do |contract| %>
    <%= contract.id %>
    • <b> <%= contract.player.name %></b>
    <%= contract.player.firstname %>
    #<%= contract.jerseynumber %>
    | <%= contract.team.shortname %>
    <br>
<%end%>