<h2>All events in DB</h2>

<% @events.each do |event| %>
    <%= event.id %> • 
    <i> <%= event.eventtype.description %> </i>
    by <%= event.selection.contract.player.firstname %> 
    <b><%= event.selection.contract.player.name %></b>
    (playing for <%= event.selection.contract.team.shortname%>)
    during 

    <%= link_to fixture_path(event.selection.fixture.id) do %>
        #<%= event.selection.fixture.hometeam.shortname%><%= event.selection.fixture.awayteam.shortname%>
    <% end %>

    at <%= event.time %> min 
    <br>
<%end%>




