<h2>All selections in DB</h2>

<% @selections.each do |selection| %>
    <%= selection.id %> • 
    <%= selection.contract.player.firstname %> 
    <b>
    <%= selection.contract.player.name %> 
    </b>
    (#<%= selection.contract.jerseynumber %> - 
    <%if !selection.position.nil? %>
    <%= selection.position.family %><%end%>) for 
    <%= selection.contract.team.name %> during 
    #<%= selection.fixture.hometeam.shortname %><%= selection.fixture.awayteam.shortname %> | 
    Starter: <%= selection.starter %> |
    Note: <%= selection.note %> 

    <%if selection.starter == false && !selection.substitute.nil? %>
        <b style="color:red;">==> Player out:</b>
        <%= selection.substitute.player.name%>
        <b>
        <%= selection.substitute.player.firstname%> 
        </b>
        (#<%= selection.substitute.jerseynumber %>) at 
        <%= selection.substitutiontime%> min
    <%end%>

    <%if selection.starter == true && !selection.substitute.nil? %>
        <b style="color:green;"> <== Player in:</b>
        <%= selection.substitute.player.name%>
        <b>
        <%= selection.substitute.player.firstname%> 
        </b>
        (#<%= selection.substitute.jerseynumber %>) at 
        <%= selection.substitutiontime%> min
    <%end%>

    <br>
<%end%>