
<h2>All selections in DB:</h2>

<% @selections.each do |selection| %>
    <%= selection.id %> • 
    <%= selection.contract.player.name %> 
    <b>
    <%= selection.contract.player.firstname %> 
    </b>
    (#<%= selection.contract.jerseynumber %>) for 
    <%= selection.contract.team.name %> during 
    #<%= selection.fixture.hometeam.shortname %><%= selection.fixture.awayteam.shortname %> | 
    Note: <%= selection.note %>

    <%if !selection.substitute.nil? %>
        >>>>>> Player in:
        <%= selection.substitute.player.name%>
        <b>
        <%= selection.substitute.player.firstname%> 
        </b>
        (#<%= selection.substitute.jerseynumber %>) at 
        <%= selection.substitutiontime%> min
    <%end%>

    <br>
<%end%>