<div class="player-show-container">

	<div class="card-player-show">

		<div class="card-player-show-detail">
			<p class="name"><%= @player.firstname %> <b><%= @player.name %></b></p>
			<p class="number">#<%= @latest_jersey_number %></p>
		</div>

		<p class="note">
			<%= @average_note %>			
		</p>

	</div>

	<br><br>

	<% counter=-1 %>
	<% @player_contracts.each do |player_contract| %>

		<% counter+=1 %>

		<b>Statistics with <%= player_contract.team.display_name %></b>

		<ul>
			<li>Appearances: <%= @stats_of_arrays[counter][1] %> / <%= @stats_of_arrays[counter][0]%> (<%= @stats_of_arrays[counter][2]%>%)</li>
			<li>%age of games started: <%= @stats_of_arrays[counter][3]%>%</li>
			<li>Average minutes per appearance: <%= @stats_of_arrays[counter][4]%> <%= @stats_of_arrays[counter][4] > 1 ? 'minute'.pluralize : 'minute' %></li>
		</ul>

	<% end %>

</div>