<div class="player-show-container">

	<div class="card-player-show">

		<div class="card-player-show-detail">
			<p class="name"><%= @player.firstname %> <b><%= @player.name %></b></p>
			<p class="number">#<%= @latest_contract.jerseynumber %> - 
				<%= @latest_contract.team.display_name %></p>
		</div>

		<p class="note">
			<%= @average_note %>	
		</p>

	</div>

	<br><br>

	<% counter=-1 %>
	<% @player_contracts.each do |player_contract| %>

		<% counter+=1 %>

		<b>Statistics with <%= player_contract.team.display_name %></b>

		<ul>
			<li>Appearances: <%= @stats_of_arrays[counter][1] %> / <%= @stats_of_arrays[counter][0]%> (<%= @stats_of_arrays[counter][2]%>%)</li>
			<li>%age of games started: <%= @stats_of_arrays[counter][3]%>%</li>
			<li>Average minutes per appearance: <%= @stats_of_arrays[counter][4]%> <%= @stats_of_arrays[counter][4] > 1 ? 'minute'.pluralize : 'minute' %></li>
		</ul>

	<% end %>

	<div class="card-goal-detail-pitch">

	    <div class="half-pitch-grid">

	    	<% @all_player_roles.each do |role| %>
				<% if role[1][:total] > 0 %>
					 <div class="position-pointer-container" style="top:<%= role[1][:top] %>px;left:<%= role[1][:left]%>px;">
			        	<div class="position-pointer"><%= role[0] %></div>
			        	<div class="position-pointer-pourcentage"><%=((role[1][:total]*100)/@distinct_role_tot).round(1)%>%</div>
			        </div>
				<% end %>
			<% end %>
	        
	        <!-- <div class="position-pointer-container" style="top:5px;left:225px;">
	        	<div class="position-pointer">GK</div>
	        	<div class="position-pointer-pourcentage">32%</div>
	        </div>

	        <div class="position-pointer-container" style="top:100px;left:400px;">
	        	<div class="position-pointer">LWB</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:80px;left:290px;">
	        	<div class="position-pointer">LB</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:80px;left:225px;">
	        	<div class="position-pointer">CB</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:80px;left:160px;">
	        	<div class="position-pointer">RB</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:100px;left:50px;">
	        	<div class="position-pointer">RWB</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:140px;left:290px;">
	        	<div class="position-pointer">LDM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:140px;left:225px;">
	        	<div class="position-pointer">DM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:140px;left:160px;">
	        	<div class="position-pointer">RDM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:230px;left:400px;">
	        	<div class="position-pointer">LW</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:210px;left:300px;">
	        	<div class="position-pointer">LM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:180px;left:225px;">
	        	<div class="position-pointer">CM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:210px;left:150px;">
	        	<div class="position-pointer">RM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:230px;left:50px;">
	        	<div class="position-pointer">RW</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:240px;left:225px;">
	        	<div class="position-pointer">AM</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:280px;left:320px;">
	        	<div class="position-pointer">LS</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:280px;left:225px;">
	        	<div class="position-pointer">CF</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:280px;left:130px;">
	        	<div class="position-pointer">RS</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div>

	        <div class="position-pointer-container" style="top:320px;left:225px;">
	        	<div class="position-pointer">ST</div>
	        	<div class="position-pointer-pourcentage">100%</div>
	        </div> -->

	    </div>

	    <%= svg 'half-pitch' %> 
	</div>

	<h2>Games</h2>

	<% @playerselections.each do |chapter| %>

		<b><%= chapter[0].team.name %></b> 
		<%= !chapter[0].enddate.nil? ? "(#{chapter[0].enddate})" : "" %>

		<ul>
		<% chapter[1].each do |selection| %>

			<li>
				<%= selection.fixture.date %> | 
				<%= selection.fixture.hometeam.shortname %> 
				<%= selection.fixture.scorehome %> - <%= selection.fixture.scoreaway %> 
				<%= selection.fixture.awayteam.shortname %> 
				<%= selection.substitutiontime > 0 ? "🔄 #{selection.substitutiontime}" : "" %>
				<% if !selection.note.nil? %>
					<span style="font-weight: 700; padding: 2px 5px; border-radius: 3px;background-color:lightgrey">
						<%= selection.note %>
					</span> 
				<% else %>
					<span style="font-weight: 700; padding: 2px 5px; border-radius: 3px;background-color:lightgrey">
						-
					</span> 
				<% end %>
			</li>

		<% end %>
		</ul>

	<% end %>


</div>
