<!DOCTYPE html>
<html>
  <head>
    <title>Paragon • Soccer goal repo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    >>>>>>>> 
    <%= link_to "Home" , root_path %> |
    <%= link_to "Competitions" , competitions_path %> |
    <%= link_to "Seasons" , seasons_path %> (|
    <%= link_to "Exercices" , competseasons_path %> |)
    <%= link_to "Teams" , teams_path %> |
    <%= link_to "Fixtures" , fixtures_path %> |

    <%= yield %>
  </body>
</html>
